@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --neon-bleu: #00d9ff;
    --neon-purpel: #7f00ff;
    --dark-bg: #0a0a0a;
    --darker-bg: #050505;
    --text-light: #ffffff;
    --text-dim: #aaaaaa;
    --transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-bg);
    color: var(--text-light);
    font-family: "oxanium", sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}

/* nav-style */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: rgba(10, 10, 10, 0.7);
}

.logo {
    font-family: "oxanium", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-light);
    text-decoration: none;
    letter-spacing: 2px;
}

.logo span {
    color: var(--neon-bleu);
    text-shadow: 0 0 10px rgba(0, 174, 255, 0.7);
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-link {
    color: var(--text-dim);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: var(--transition);
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--neon-bleu);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--text-light);
}

.nav-link:hover::after {
    width: 100%;
}

/* content-style */

#content-page {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.div {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

.about-content {
    align-items: center;
    width: 100%;
}

.about-text {
    position: relative;
    z-index: 2;
}

h1,
h2 {
    font-family: 'oxanium', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

p {
    margin-bottom: 52px;
    color: var(--text-dim);
}

.about-text h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    background: linear-gradient(#ffffff,
            var(--neon-bleu),
            var(--neon-purpel));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-text h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 35px;
    color: var(--text-dim);
}

.about-text p{
    font-size: 1.2rem;
    max-width: 900px;
    margin-bottom: 40px;
}

/* buttons-style */

.button-grp{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.button{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px 38px;
    background: transparent;
    color: var(--neon-bleu);
    border: 2px solid var(--neon-bleu);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    transition: var(--transition);
    box-shadow: 0 0 25px rgba(0, 174, 255, 0.7);
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 50px;
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--neon-bleu);
    transition:  width 0.5s ease;
    z-index: -1;
}

.button:hover{
    color: #000;
    box-shadow: 0 0 25px var(--neon-bleu);
}

.button:hover::before{
    width: 100%;
}

/* footer-style */

footer{
    background: var(--dark-bg);
    padding: 50px 0 30px;
    text-align: center;
    border-top: 1px solid rgba(0, 174, 255, 0.1);
}

.footer-content{
    max-width: 600px;
    margin: 0 auto;
}

.footer-logo{
    font-family: 'oxanium';
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-light);
}

.footer-logo span{
    color: var(--neon-bleu);
}

.footer-text{
    font-size: 1.1rem;
    color: var(--text-dim);
    margin-bottom: 30px;
}

.social-links{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 40px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    color: var(--text-dim);
    font-size: 1.5rem;
    transition: var(--transition);
    border: 1px solid rgba(0, 174, 255, 0.4);
    text-decoration: none;
}

.social-link:hover{
    color: #000;
    background: var(--neon-bleu);
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 174, 255, 0.4);
}

.copyright {
    color: var(--text-dim);
}

/* Scroll bar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb{
    background: var(--neon-bleu);
    border-radius: 10px;
}

@media (max-width: 992px) {
    .hero-content{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text{
        margin-bottom: 60px;
    }

    .btn-grp{
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .hero-text h1{
        font-size: 2.5rem;
    }

    .btn-grp{
        flex-direction: column;
    }
}